/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #fff url("../images/bgtile.png") repeat-x;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  background: url("../images/frame.png") no-repeat;
  min-height: 200px;
  width: 504px;
  padding: 20px 40px;
  float: right;

}

.page {
  width: 52%;
  margin: 90px auto;

}

.ig-photo {
  display: inline;

}

.content {
  float: right;
  width: 504px;
  padding-top: 20px;
}

.footer {
  list-style: none;
  clear: both;
  text-align: center;
  padding-top: 20px;
}

.footer li {
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin: 0 10px;
  color: gray;
}

.footer a {
  color: #1c5380;
  text-decoration: none;
}

.logo {
  margin-bottom: 10px;
  float: left;
}

h2 {
    color: #06365F;
    font-size: 1.7em;
    width: 65%;
    line-height: 1.2em;
}

main img {
  margin: 15px 10px 0 0;
}

.footer a:hover {
  text-decoration: underline;
  color: black;
}


.login {
  float: right;
  border: 2px solid #06365F;
  background: #1c5380;
  width: 120px;
  color: white;
  padding: 7px;
  margin-right: 5px;

}

.login img, .login p {
  float: left;
}

.login p {
    line-height: 1em;
    font-weight: bold;
    margin: 10px;
}

.login img {
    margin-top: 5px;
}
